<p id="notice"><%= notice %></p>

<p>
  <strong>Idvariant:</strong>
  <%= @zt010.IDVARIANT %>
</p>

<p>
  <strong>Txname:</strong>
  <%= @zt010.TXNAME %>
</p>

<p>
  <strong>Txtype:</strong>
  <%= @zt010.TXTYPE %>
</p>

<p>
  <strong>Txvalue:</strong>
  <%= @zt010.TXVALUE %>
</p>

<p>
  <strong>Txremarks:</strong>
  <%= @zt010.TXREMARKS %>
</p>

<%= link_to 'Edit', edit_zt010_path(@zt010) %> |
<%= link_to 'Back', zt010s_path %>
