<p id="notice"><%= notice %></p>

<p>
  <strong>Iduser:</strong>
  <%= @zt020.IDUSER %>
</p>

<p>
  <strong>Txname:</strong>
  <%= @zt020.TXNAME %>
</p>

<p>
  <strong>Txpassword:</strong>
  <%= @zt020.TXPASSWORD %>
</p>

<%= link_to 'Edit', edit_zt020_path(@zt020) %> |
<%= link_to 'Back', zt020s_path %>
